* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
    min-height: 0;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0.4); 
    color: #ffffff;
    transition: all 0.3s ease;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #a3be8c; 
    border-bottom: 2px solid transparent;
    margin: 0 2px;
    font-size: 18px; 
}

#workspaces button:hover {
    background-color: rgba(163, 190, 140, 0.2);
    border-bottom: 2px solid #a3be8c;
}

#workspaces button.active {
    background-color: rgba(163, 190, 140, 0.3);
    color: #ebcb8b; 
    border-bottom: 2px solid #ebcb8b;
}

#tray {
    padding: 0 10px;
    background-color: rgba(163, 190, 140, 0.2); 
    color: #ffffff;
    border-radius: 5px;
}

/* right side */

#network, #pulseaudio, #cpu, #memory, #custom-temperature, #battery, #clock {
    padding: 0 10px;
    background-color: rgba(136, 192, 208, 0.4);
    color: #ffffff;
    margin-right: 5px;
    border-radius: 5px;
}

#network.disconnected {
    background-color: rgba(255, 85, 85, 0.4); 
}

#pulseaudio.muted {
    background-color: rgba(255, 85, 85, 0.4); 
    color: #ffffff;
}

#custom-temperature.hot {
    background-color: rgba(255, 85, 85, 0.4);
}

#battery.warning:not(.charging) {
    background-color: rgba(255, 165, 0, 0.4); 
    color: #ffffff;
}

#battery.critical:not(.charging) {
    background-color: rgba(255, 85, 85, 0.4);
    color: #ffffff;
}

#clock {
    background-color: rgba(235, 203, 139, 0.4);
}

#workspaces, #tray, #network, #pulseaudio, #cpu, #memory, #custom-temperature, #battery, #clock {
    border-radius: 5px;
    margin: 2px 2px;
}
